# 1. 詢問個人資訊 (只問一次)
{{- $gitName := promptStringOnce . "gitName" "git user name" "TC" -}}
{{- $gitEmail := promptStringOnce . "gitEmail" "git user email" "leon8847@gmail.com" -}}

# 2. 定義 WezTerm 專案選單
{{- $projectOptions := list "projects_work" "projects_home" "projects_personal" -}}
{{- $weztermProject := promptChoiceOnce . "weztermProject" "請選擇這台電腦的 WezTerm 專案配置" $projectOptions -}}

# 3. 詢問同步開關 (只問一次)
{{- $syncGit := promptBoolOnce . "syncGit" "sync git config" true -}}
{{- $syncZsh := promptBoolOnce . "syncZsh" "sync zsh config" false -}}
{{- $syncNvim := promptBoolOnce . "syncNvim" "sync neovim config" true -}}
{{- $syncPowershell := promptBoolOnce . "syncPowershell" "sync powershell config" true -}}
{{- $syncIdeavimrc := promptBoolOnce . "syncIdeavimrc" "sync ideavimrc config" true -}}

[git]
    autoCommit = true
    autoPush = true
    commitMessageTemplate = "Update dotfiles: {{ "{{" }} .chezmoi.hostname {{ "}}" }}"

[data]
    gitName = {{ $gitName | quote }}
    gitEmail = {{ $gitEmail | quote }}
    weztermProject = {{ $weztermProject | quote }}
    
    # 同步開關
    syncGit = {{ $syncGit }}
    syncZsh = {{ $syncZsh }}
    syncNvim = {{ $syncNvim }}
    syncPowershell = {{ $syncPowershell }}
    syncIdeavimrc = {{ $syncIdeavimrc }}

[update]
    apply = true

[merge]
    command = "code"
    args = ["--wait", "--diff"]
