# Git 配置
{{- if not .syncGit }}
.gitconfig
.gitignore_global
{{- end }}

# Zsh 配置
{{- if or (not .syncZsh) (eq .chezmoi.os "windows") }}
.zshrc
.zsh_history
.oh-my-zsh/**
{{- end }}

# Neovim 配置 - Windows 路徑
{{- if or (not .syncNvim) (ne .chezmoi.os "windows") }}
AppData/Local/nvim/**
{{- end }}

# Neovim 配置 - Linux 路徑
{{- if or (not .syncNvim) (eq .chezmoi.os "windows") }}
.config/nvim/**
{{- end }}

# PowerShell 配置
{{- if or (not .syncPowershell) (ne .chezmoi.os "windows") }}
Documents/PowerShell/**
{{- end }}

# IdeaVimrc 配置
{{- if not .syncIdeavimrc }}
.ideavimrc
{{- end }}

# 防止 Linux 出現 Windows 資料夾
{{- if ne .chezmoi.os "windows" }}
AppData/**
Documents/**
{{- end }}
