// 使用本地檔案路徑 (三斜線)
layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:///C:/Users/tc_tseng/.local/share/zellij/plugins/zjstatus.wasm" {
                format_left "LOCAL-TEST"
                format_center "WORKING"
                format_right "OK"
            }
        }
    }
}
